<%-partial('partial/header', {}, {cache: true}) %>
<%-partial('partial/banner',{}, {cache: true}) %>
<%-partial('partial/card-home', {}, {cache: true}) %>
<div id="home-post-warp">
  <% site.posts.sort('-date').limit(10).each(function(post) { %> <%-
  partial('partial/post-card', { post: post }) %> <% }) %>
</div>
<%-partial('partial/footer', {}, {cache: true}) %>
