<div class="post-card" data-url="<%= url_for(post.path) %>">
  <div class="card-cover">
    <!-- <img src="https://www.loliapi.com/acg/" /> -->
    <img
      src="https://picapi.pai.al/api/scenery.php?timestamp=<%= new Date().getTime() %>"
    />
  </div>
  <div class="post-card-title" title="<%= post.title %>"><%= post.title %></div>
  <p class="post-card-excerpt">
    <%= post.excerpt || post.content.substring(0, 100) %>...
  </p>
</div>
